/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/*---FlexBox---
  @flex: flex, flex-inline
  --------------------------*/
/*---Flexbox Direction---
  @type: row, column
  Direction: normal, reverse
  --------------------------*/
/*---Flexbox Wrap---
  @wrap: wrap, nowrap, wrap-reverse
  --------------------------*/
/*---Flexbox Justify Content---
  @justify-content: start, end, center, space-between, space-around

  *FIXME* - Creates duplicate CSS
  --------------------------*/
/*---Flexbox Align Items---
  @align-items: center, baseline, stretch, start, end
  --------------------------*/
/*---Flexbox Align Content---
  @align-items: start, end, center, space-between, space-around

  *FIXME* - Creates duplicate CSS
  --------------------------*/
/*** reset ***********/
html,
body,
ul,
ol,
li,
dl,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
a,
img,
label {
  margin: 0;
  padding: 0;
  border: 0;
}
header,
section,
footer,
aside,
nav,
article {
  display: block;
}
ul {
  list-style: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}
body {
  display: flex;
  display: -webkit-flex;
  font-display: swap;
  flex-flow: column;
  height: 100vh;
  font-size: 10px;
  font-size: 1.4rem;
}
html,
body {
  height: 100%;
}
*:focus {
  outline: none;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.outerwrapper {
  -webkit-flex: 1;
  flex: 1;
}
/*** standart classes *****/
p {
  line-height: 16px;
}
a {
  color: #020000;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 1.6rem;
}
*:focus {
  outline: none;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.tdn {
  text-decoration: none;
}
.tdn:hover {
  text-decoration: underline;
}
.tdu {
  text-decoration: underline;
}
.tdu:hover {
  text-decoration: none;
}
.before {
  content: "";
  display: block;
  position: absolute;
}
.form-control {
  border: 1px solid #f4f4f4;
  border-radius: 0;
  margin-top: 0.6rem;
  font-size: 16px;
}
.form-control:focus,
.form-control:active {
  border-color: #666;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(222, 72, 111, 0.3);
}
/* =panel
---------------------------*/
.panel {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  min-height: 656px;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
  width: 24rem;
  color: #fff;
}
.panel a {
  color: #fff;
  text-decoration: none;
}
.panel nav {
  padding-left: 5rem;
}
.panel nav ul li {
  font-size: 18px;
  font-size: 1.8rem;
  position: relative;
}
.panel nav ul li:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
  width: 12px;
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
}
/* =/panel
---------------------------*/
/* =header
---------------------------*/
/* =/header
---------------------------*/
/* =footer
---------------------------*/
footer {
  height: 40px;
  background: #FFCC00;
}
::-ms-clear {
  display: none;
}
